body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #FAFAFA;
}

header.header {
  background-color: #5f7891;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

header.header h1 {
  margin-left: 10px;
  display: inline-block;
  padding-left: 15px;
  color: white;
}

section.room-list {
  background-color: #DDD;
  width: 150px;
  height: 500px;
  padding: 5px 0px 5px 0px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

section.room-list ul {
  margin: 0;
  padding: 0;
}

section.room-list li {
  font-size: 14px;
  color: #336dcc;
  list-style: none;
  left: 0;
  right: 0;
  padding: 15px 10px 15px 25px;
}
section.room-list li:hover {
  color: #ffc73a;
  cursor: pointer;
}

main.chat-area {
  width: 100%;
  display: inline-block;
  position: absolute;
  background-color: #FAFAFA;
}

span.message {
  color: #888888;
  width: auto;
  margin: 0 auto;
}
span.message#username {
  margin-left: 150px;
  font-size: 14px;
  color: #AAA;
}
span.message#content {
  margin-left: 150px;
}
span.message#sentAt {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: #AAA;
}

.chat-area-header {
  width: 100%;
  height: 30px;
  background-color: #88a9cc;
  padding-top: 10px;
}
.chat-area-header span {
  font-size: 16px;
  color: #424242;
  margin-left: 55%;
}

.message-list {
  padding: 15px 0 10px 20px;
  /*border-bottom: 2px solid #EEE;*/
}

.create-room {
  display: inline-block;
  float: right;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

.create-button {
  height: 40px;
}
