body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #FAFAFA;
}

header.header {
  background-color: #5f7891;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

header.header h1 {
  margin-left: 10px;
  display: inline-block;
  padding-left: 15px;
  color: white;
}

section.room-list {
  background-color: #DDD;
  width: 150px;
  height: 500px;
  right: 0;
  padding: 5px 0px 5px 0px;
  display: inline-block;
}

section.room-list ul {
  margin: 0;
  padding: 0;
}

section.room-list li {
  font-size: 14px;
  color: #336dcc;
  list-style: none;
  left: 0;
  right: 0;
  padding: 15px 10px 15px 25px;
}
section.room-list li:hover {
  color: #ffc73a;
  cursor: pointer;
}

main.chat-area {
  display: inline-block;
  background-color: #FAFAFA;
}

.message-list {
  padding: 10px 0 10px 15px;
}

.create-room {
  display: inline-block;
  float: right;
  height: 50px;
  margin-top: 20px;
  margin-right: 10px;
}

.create-button {
  height: 40px;
}
