<header class="header">
  <h1>Wan's Chat App</h1>
  <div class="create-room">
    <button type="button" ng-click="home.open()" class="create-button">Create New Chat Room</button>
  </div>
</header>

<section class="room-list">
  <ul ng-repeat="room in home.rooms">
    <li ng-click="home.allMessages(room.$id)">{{room.$value}}</li>
  </ul>
</section>

<main class="chat-area">
  <div ng-repeat="msg in home.messages" class="message-list">
    <span>{{msg.username}}: {{msg.content}}<br></span>
    <span>At: {{msg.sentAt}}<br></span>
  </div>
</main>
